
body:hover {
    padding-left: 25px !important; /* Increase padding on hover */
}
a {
    color: #1e90ff;
}
a:hover {
    color: #63b3ed;
}

.logo img {
    height: 120px; /* Increased from 40px */
    width: auto;
    margin-right: 100px;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.05);
}


h2 {
    color: #f5f8f9;
    text-shadow: 1px 1px 2px rgb(2, 44, 255);
    text-align: auto;
    font-size: 30px;
}
h1 {
    color: #eff8f5;
    text-shadow: 1px 1px 2px rgb(6, 58, 244);
    text-align: center;
    font-size: 50px;
}
p {
    color: #fdf9f9;
    line-height: 1.6;
    text-align: justify;
}
li {
    color: #a3ced2;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}


.trust-indicators {
    background-color: rgb(196, 200, 203);
    border-radius: 10px;
    padding: 40px;
    margin: 20px 0;
    color: #141111;
    text-shadow: 1px 1px 2px rgb(196, 6, 244);
    font-size: 20px;
}

p {
    color: black;
    text-shadow: none;
    margin-bottom: 15px;
    font-weight: bold;
}